@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.header-cmp-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 0 2rem;
  font-family: PT Sans Narrow, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #fff;

  .logo {
    font-size: 3rem;
  }

  .nav-bar {
    display: none;
    gap: 2rem;
    color: #575757;

    &.mobile-layout {
      display: none;
    }
  }

  .hamburger {
    display: block;
    font-size: 3rem;

    &.mobile-layout {
      display: block;
    }
  }

  @media screen and (min-width: 600px) {
    .hamburger {
      display: none;
    }

    .nav-bar {
      display: flex;
    }
  }
}

.hero-cmp-4 {
  width: 100%;
  color: #fff;
  font-weight: 700;
  background-color: #fff;

  .parallax-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 0.6;
    margin: auto;
    background-color: #fff;
    background-image: url('https://res.cloudinary.com/dnv7wszu3/image/upload/v1654266826/ea71bb_a5799cd36d6b48f3953cd21464288e19_mv2_d_9491_3840_s_4_2_gbkdvm.webp');
    background-attachment: fixed;
    background-size: contain;
    background-clip: unset;
    background-position-y: 100px;
    background-repeat: no-repeat;
    text-align: center;

    &.mobile-layout,
    &.tablet-layout {
      background-position: right;
      width: 100%;
      aspect-ratio: 1 / 0.6;
      height: unset;
    }

    @media screen and (min-width: 1200px) {
      background-position: center;
      // width: 900px;
      aspect-ratio: unset;
      height: 800px;
    }

    .title {
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: 1px solid #fff;
      line-height: 0.9;
      margin-bottom: 0.7rem;
      font-size: 4rem;

      &.mobile-layout {
        font-size: 4rem;
      }

      @media screen and (min-width: 600px) {
        font-size: 10rem;
      }
    }

    .sub-title {
      font-family: PT Sans Narrow, Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
      letter-spacing: 1.8px;
    }
  }
}

.gallery-cmp-3 {
  text-align: center;
  padding: 2rem 0;
  background-color: #fff;
  background: linear-gradient(to top, #f1f1f1 60%, #fff 0%);

  p {
    padding: 2rem 0;
  }

  .gallery {
    background: linear-gradient(to bottom, #5d1ff2 50%, #f1f1f1 0%);
    padding: 2rem;
    margin-bottom: 2rem;

    &.mobile-layout,
    &.tablet-layout {
      margin: 0;
    }

    @media screen and (min-width: 1100px) {
      margin: 2rem 300px;
    }
  }

  .btn {
    border: 0;
    outline: 0;
    background-color: #5d1ff2;
    height: 40px;
    width: 140px;
    color: #fff;
  }
}

.section-cmp-4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: PT Sans Narrow, Arial, Helvetica, sans-serif;
  color: #242424;

  &.mobile-layout,
  &.tablet-layout {
    margin: 0;
    flex-direction: column;
  }

  @media screen and (min-width: 1100px) {
    margin: 0 300px;
  }

  @media screen and (min-width: 720px) {
    flex-direction: row;
  }

  .parallax-container {
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 100%;
    order: -1;
    background-color: #5d1ff2;
    background-image: url('https://res.cloudinary.com/dnv7wszu3/image/upload/v1654282338/ea71bb_078dd807775644e886b84f9df61bdc3e_mv2_d_5760_3840_s_4_2_ymnwem.webp');

    &.mobile-layout,
    &.tablet-layout {
      background-position-x: 1100px;
      flex-basis: unset;
      order: -1;
    }

    @media screen and (min-width: 1100px) {
      background-position-x: 1200px;
    }
    @media screen and (min-width: 720px) {
      flex-basis: 50%;
      order: 1;
    }
  }

  .side-text {
    padding-inline: 0.7rem;
    height: 370px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.mobile-layout,
    &.tablet-layout {
      flex-basis: unset;
    }

    @media screen and (min-width: 500px) {
      flex-basis: 50%;
      padding-inline-start: 2rem;
    }

    .title {
      font-size: 2.5rem;

      &.mobile-layout,
      &.tablet-layout {
        font-size: 2.5rem;
      }

      @media screen and (min-width: 500px) {
        font-size: 3.75rem;
      }
    }

    .desc {
      font-size: 1.3rem;

      &.mobile-layout,
      &.tablet-layout {
        font-size: 1.3rem;
      }

      @media screen and (min-width: 500px) {
        font-size: 1.7rem;
      }
    }

    .btn {
      border: 0;
      outline: 0;
      background-color: #5d1ff2;
      height: 40px;
      width: 140px;
      color: #fff;
    }
  }
}

.form-cmp-3 {
  background-color: #5d1ff2;
  color: #fff;
  font-family: PT Sans Narrow, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  gap: 2rem;

  &.mobile-layout,
  &.tablet-layout {
    padding: 6rem 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 6rem 200px;
  }

  .form-header {
    font-size: 4rem;
    font-weight: 700;
    padding-inline-start: 3rem;

    .social-media-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      gap: 1rem;

      .icon {
        fill: #fff;
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0 3rem;

    &.mobile-layout,
    &.tablet-layout {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 720px) {
      flex-direction: row;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }

      input {
        height: 30px;
      }

      input,
      textarea {
        background-color: #5d1ff2;
        border: 2px solid #f1f1f1a8;
        width: 300px;
        margin-top: 0.5rem;
        padding-inline-start: 0.5rem;
      }

      input::placeholder,
      textarea::placeholder {
        opacity: 0;
      }

      button {
        border: 2px solid #f1f1f1a8;
        outline: 0;
        background-color: #5d1ff2;
        height: 40px;
        width: 140px;
        color: #fff;
        transition: 0.3s;
      }

      button:hover {
        background-color: #f1f1f1;
        color: #5d1ff2;
      }
    }

    .form-side-text {
      font-size: 1.8rem;
      font-weight: 700;

      & > p:nth-of-type(2) {
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
  }
}
