.wap-header-2 {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 6vw;
  padding-inline-end: 6vw;
  height: 100px;
  align-items: center;
  color: white;
  background: linear-gradient(7deg, #dd1173, #350e47);
  position: relative;
  p{
    margin: 0;
  }

  .nav-bar {
    display: flex;
    gap: 30px;
  }
  .hamburger-nav-bar {
    display: none;
    position: absolute;
    z-index: 0;
    right: 4vw;
  }
}

.wap-hero-2 {
  position: relative;
  height: 75vh;
  display: flex;
  background: linear-gradient(135deg, #dd1173, #350e47);

  .wap-hero-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    padding-inline-start: 6vw;
    padding-inline-end: 6vw;
    position: absolute;
    height: 100%;
    .wap-hero-2-main-hero-header {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 10vh;
        line-height: 10vh;
        font-weight: 600;
        margin: 0;
      }
    .wap-hero-2-sec-hero-header {
        font-size: 30px;
        line-height: 44px;
    }
    .wap-hero-2-hero-btn {
      width: 170px;
      font-family: system-ui;
        padding: 20px 40px;
        border-radius: 3px;
        background-color: #fc0a7e;
        transition: background-color 500ms cubic-bezier(0.789, 0.159, 0.25, 1),
          color 200ms cubic-bezier(0.789, 0.159, 0.25, 1);
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        text-align: center;
        border: none;
        padding-top: 20px;
      }
    }
  }
  .wap-hero-2-img-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 30px;
    .wap-hero-2-arrow-img {
      position: absolute;
      width: 100%;
      display: flex;
      bottom: 0;
      justify-content: center;
      padding-bottom: 20px;
      animation: floating;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      height: 40px;
    }
  }

.wap-hero-2 {
    .wap-hero-2-main-hero-header {
        font-size: 5vh;
        line-height: 5vh;
    }
    .wap-hero-2-sec-hero-header {
        font-size: 20px;
    }
    .wap-hero-2-hero-btn {
      button {
        padding: 15px 30px;
      }
  }
  .wap-hero-2-img-container {
    div {
      img {
        width: 600px;
        padding-inline-end: 2vw;
      }
    }
  }
}

.wap-cards-2 {
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  position: relative;
  justify-content: center;
  height: 100%;

  .wap-cards-2-sub-header {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 1px none #2e2e2e;
      color: #a8a8a8;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  .wap-cards-2-main-header {
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      font-size: 38px;
      line-height: 48px;
      font-weight: 700;
      padding-inline-start: 35px;
      padding-inline-end: 35px;
      text-align: center;
  }

  .wap-cards-2-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    max-width: 1200px;
  }
}

.wap-cards-2-second {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  padding-top: 125px;
  gap: 100px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  img {
    max-height: 600px;
  }
  .wap-cards-2-second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    max-width: 450px;
    .wap-cards-2-second-main-header {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 1px none #2e2e2e;
        color: #a8a8a8;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .wap-cards-2-second-sec-header {
      width: fit-content;
        width: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #000;
        font-size: 38px;
        line-height: 48px;
        font-weight: 700;
    }
    .wap-cards-2-second-third-header {
        width: fit-content;
        padding-bottom: 10px;
        color: #6b6b6b;
        font-size: 16px;
        line-height: 30px;
    }
  }
}

.wap-footer-3 {
  padding-top: 20px;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  div {
    img {
      width: 136px;
      margin-bottom: 30px;
    }
  }
  .wap-footer-3-links-container {
    display: flex;
    gap: 40px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    color: #6b6b6b;
    font-size: 12px;
    margin-bottom: 40px;
  }
}

.wap-carousel-1 {
  color: black;
  display: flex;
  justify-content: center;
  padding: 15vh;
  background-image: url('https://uploads-ssl.webflow.com/5af49de0dbb1e3637f2d8886/5b11c1af7f519f50eaefd140_wavy-bg.svg');
  background-color: linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

@media (max-width: 1120px) {
  .wap-header-2 {
    padding-inline-end: 2vw;
    .nav-bar {
      display: none;
    }
    .hamburger-nav-bar {
      display: block;
      div:not(.wap-hero-2-arrow-img) {
        height: 60px;
        width: 60px;
        img {
          height: 100%;
        }
      }
    }
  }
  .wap-hero-2 {
    .wap-hero-2-img-container {
      div {
        img {
          width: 450px;
        }
      }
    }
  }

  .wap-cards-2-second {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .wap-hero-2 {
    .wap-hero-2-img-container {
      div {
        img {
          padding-inline-end: -4vw;
        }
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(-20px);
  }
  15% {
    transform: translateY(-16px);
  }
  30% {
    transform: translateY(-12px);
  }
  45% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(-8px);
  }
  90% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(-16px);
  }
}
