.web-template1-container .web-template1-hero{
  min-height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-image: url('../../../img/cmps/web-templates/web-template1/web-template1-background.jpg')
}

.web-template1-main-header{
  display: flex;
  justify-content: space-between;
  height: 5em;
  padding: 1.1em 2.3em;
}

.web-template1-main-header img{
  width: 8.2em;
}

.web-template1-main-header .nav-container{
  display: flex;
}

.web-template1-main-header .nav-container > *{
  padding: 0.7em 1.6em;
  font-family: sans-serif;
}