header {
  // position: fixed;
  width: 100%;
  z-index: 200;
}
.app-header {
  z-index: 5;
  padding: 0 280px;
  height: 70px;
  background-color: $accent-color;
  color: $main-color;
  // box-shadow: 0 1px 5px 0 rgb(41 85 115 / 21%);
  .logo {
    color: $main-color;
    height: 100%;
    display: flex;
    font-family: $logo-font;
    font-size: 2.7rem;
    line-height: 65px;
  }

  .logout-icon {
    display: flex;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    .logout-svg {
      font-size: 1.7rem;
    }
    &:hover {
      background-color: rgb(221 221 221 / 36%);
    }
  }

  .navbar {
    font-size: 1rem;
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
  }

  .main-menu-container{
    background-color: rgb(61, 73, 110);
    width: 100vw;
    transition: all 0.25s ease-in-out 0s;
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 4;
    border-top: 1px solid rgb(41, 24, 47);
    opacity: 1;
    visibility: visible;
    min-height: 100vh;
    color: black;
  }

  @media screen and (min-width: '1100px') {
    .navbar {
      display: flex;
    }
    .menu-icon {
      display: none;
    }
  }

  @media screen and (min-width: '1300px') {
    .navbar {
      font-size: 1.2rem;
    }
  }
}
