.display-icons-container {
    background-color: #0e1318;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: 10px;

    * {
        fill: #929292;
        transition: fill 0.3s;
    }
    
    *:hover {
        fill: #e4e4e4;
    }
}