.gallery-img-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 20px;
  gap: 10px;
  margin-inline-end: 20px;

  img {
    max-width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
  }
}
