.theme-container {
  // background-color: white;
  background-color: #efefef;
  margin: 25px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1px 0px lightgrey;
  cursor: pointer;
  &:hover {
    background-color: whitesmoke;
  }
  .theme-header-info {
    padding: 16px 18px;

    .theme-header {
      font-weight: 500;
      font-size: 1.4rem;
    }
    .theme-description {
      color: #858585;
      font-size: 0.8rem;
    }
  }

  .theme-colors-container {
    display: flex;
    & > *:first-child {
      flex-grow: 3;
    }
    & > *:nth-child(2) {
      flex-grow: 2;
    }
    & > *:nth-child(3) {
      flex-grow: 1;
    }
  }
}
