* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MuiMenu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.css-eg0mwd-MuiSlider-thumb{
  width: 15px;
  height: 15px;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.Mui-focused{
  background-color: #fff;
}
form .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #333;
}

.MuiBox-root .css-164r41r .css-1kezstn-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #3b4be6;
}

.wap-hero-1 .img-container{
  max-width: 50%;
  display: flex;
  align-self: center;
}

.app {
  min-height: 100vh;
  background-color: $accent-color;
}

// :root {
//   // this is the default value below
//   --toastify-color-progress-light: linear-gradient(
//     to right,
//     #007aff,
//     #007aff
//   ) !important;
// }

html {
  font-size: 16px;
  font-family: $main-font;
  color: black;
}

button,
input {
  font-family: $main-font;
}

body {
  margin: 0;
}

main {
  flex: 1;
}
