/* OTHER */

.display-none {
  display: none;
}

/* LINKS */

.clean-link {
  color: inherit;
  text-decoration: none;
}

/* LISTS */

.clean-list {
  list-style: none;
}

/* TEXT */

.strike-through {
  text-decoration: line-through;
}

.muted {
  opacity: 0.8;
}

/* FLEX */

.flex {
  display: flex;

  &.gap-5 {
    gap: 5px;
  }

  &.gap-10 {
    gap: 10px;
  }

  &.gap-15 {
    gap: 15px;
  }

  &.gap-20 {
    gap: 20px;
  }

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: start;
  }

  &.align-end {
    align-items: flex-end;
  }
}

// HOVER

.hover {
  outline: 1px dashed gray !important;
}

// SELECT

.selected {
  outline: 2px dashed gray !important;
}

.container.selected {
  outline: 2px dashed gray !important;
  //   border-inline: 1px dashed gray;
  outline-offset: -2px;
}

.home-header-copy{
  position: fixed;
  background-color: white;
  top: -70px;
  animation-fill-mode: forwards;
  opacity: 0;
}

.home-header-copy.fixed{
  opacity: 1;
  top: 0;
}

.linkable {
  cursor: pointer;
}

.no-mouse-events {
  pointer-events: none;
}

// MODAL

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 50;
}