// Media queries Breakpoint mixins

@mixin for-mobile-layout {
    @media (max-width: $media-mobile) {
        @content;
    }
}

@mixin for-tablet-layout {
    @media (max-width: $media-tablet) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr)
        minmax(auto, $max)
        minmax($layoutPadding, 1fr);
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    > img {
        height: 100%;
        object-fit: cover;
    }
}
// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}