@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: Righteous;
  src: url('../../fonts/Righteous-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('../../fonts/OpenSans-VariableFont.ttf');
}

@font-face {
  font-family: Pensum;
  src: url('../../fonts/Pensum-DEMO-fonts/PensumDEMO-Regular.otf');
}

@font-face {
  font-family: Oswald;
  src: url('../../fonts/Oswald-Regular.ttf');
}
@font-face {
  font-family: Raleway;
  src: url('../../fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: Forum;
  src: url('../../fonts/Forum-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: SourceSans;
  src: url('../../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: Lobster;
  src: url('../../fonts/Lobster-Regular.ttf');
}
@font-face {
  font-family: Joan;
  src: url('../../fonts/Joan-Regular.ttf');
}

@font-face {
  font-family: Playfair;
  src: url('../../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: Bebas;
  src: url('../../fonts/BebasNeue-Regular.ttf');
}
