// Colors

// $roman-silver: #828a95ff;
// $columbia-blue: #ceeaf7ff;
// $beau-blue: #ccd7e4ff;
// $languid-lavender: #d5c9dfff;
// $main-color: #457b9d;
$main-color: #3d496e;
// $main-color: #3d496e;
$accent-color: #fffef9;
$secondary-color: #a8dadc;
$third-color: #f1faee;
// $accent-color: #e63946;
// $accent-color: #ff9900;

// Fonts
$logo-font: Righteous, 'sans-serif';
$main-font: OpenSans, 'sans-serif';
// $main-font: Montserrat, 'sans-serif';
$sub-font: Bitter, 'serif';
$hand-font: Mali, 'cursive';

// Text
$line-height: 28px;

// Sizes
$header-height: 70px;
$header-tablet-height: 50px;
$minimized-header-height: 30px;
$sidebar-width: 310px;
$sidebar-tablet-width: 240px;
$border-radius: 5px;

//Media
$media-tablet: 850px;
$media-mobile: 680px;
