// Colors

// $roman-silver: #828a95ff;
// $columbia-blue: #ceeaf7ff;
// $beau-blue: #ccd7e4ff;
// $languid-lavender: #d5c9dfff;
// E63946
// F1FAEE
// A8DADC
// 457B9D
// 84DD63
// 6BAA75
// 69747C

// Fonts
$main-font: Montserrat, 'sans-serif';
$sub-font: Bitter, 'serif';
$hand-font: Mali, 'cursive';

// Text
$line-height: 28px;

// Sizes
$header-height: 70px;
$header-tablet-height: 50px;
$minimized-header-height: 30px;
$sidebar-width: 310px;
$sidebar-tablet-width: 240px;
$border-radius: 5px;

//Media
$media-tablet: 850px;
$media-mobile: 680px;
