* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.editor-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.components-list {
  width: 30%;
}

.editor {
  width: 100%;
  height: 100%;
  //   max-height: 99vh;
  overflow: auto;
}

.header {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.header1 {
  background-color: tomato;
  color: white;
}
.header2 {
  background-color: dodgerblue;
  color: white;
}
.header3 {
  color: lightgray;
  background-color: gray;
}

nav span {
  padding: 0 0.5rem;
}

.header .logo {
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

.mini-cmp {
  max-width: 250px;
  border-radius: 5px;
  margin: 0.5rem 0.3rem;
  transition: transform 0.3s;
}

.copy-dnd ~ img {
  transform: none !important;
}

.mini-cmp:hover {
  transform: scale(1.01);
}

.editor::-webkit-scrollbar {
  width: 12px;
  background-color: #cccccc;
}
.editor::-webkit-scrollbar:horizontal {
  height: 12px;
}
.editor::-webkit-scrollbar-track {
  border: 1px #787878 solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #c8c8c8 inset;
}
.editor::-webkit-scrollbar-thumb {
  background-color: #3d496e;
  border: 1px solid #000000;
  border-radius: 16px;
}
// .editor::-webkit-scrollbar-thumb:hover {
//   background-color: #3d496e;
//   border: 1px solid #333333;
// }
// .editor::-webkit-scrollbar-thumb:active {
//   background-color: #3d496e;
//   border: 1px solid #333333;
// }