* {
  margin: 0;
  padding: 0;
}

.placeholder {
  position: absolute;
  background-color: white;
  border-radius: 3px;
  // border: dashed 2px black;
  // box-shadow: inset 0 0 3px black;
  box-shadow: inset 0px 15px 20px -19px, inset 0px -15px 20px -19px;
}


.editor-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: whitesmoke;
}

.editor-inner-container {
  width: 100%;
}

.editor {
  width: 100%;
  height: 100%;
  //   max-height: 99vh;
  overflow: scroll;
  position: relative;
  & > h2 {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: '700px') {
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #252627;
    }
    &::-webkit-scrollbar:horizontal {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      border: 1px #252627 solid;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 6px #252627 inset;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #5e5e5e;
      border-radius: 16px;
    }
  }
}

// .header {
//   display: flex;
//   padding: 0.5rem 1rem;
//   justify-content: space-between;
//   align-items: center;
// }

// .header1 {
//   background-color: tomato;
//   color: white;
// }
// .header2 {
//   background-color: dodgerblue;
//   color: white;
// }
// .header3 {
//   color: lightgray;
//   background-color: gray;
// }

// nav span {
//   padding: 0 0.5rem;
// }

// .header .logo {
//   font-size: 2rem;
//   font-weight: 700;
// }

a {
  color: inherit;
  text-decoration: none;
}

.copy-dnd ~ img {
  transform: none !important;
}

.mini-cmp:hover {
  transform: scale(1.01);
}
