// BEGINNING POINT ---------------

.editor-sidebar {
  position: relative;
  display: flex;
  .cmps-list {
    background-color: #252627;
    width: 270px;
    overflow: hidden;
    transition: 0.3s;
  }
}

.editor-sidebar-container {
  width: 270px;
}

.editor-edit-add-btns {
  display: flex;
  flex-direction: column;
  background-color: #0e1318;
  .sidebar-btn {
    color: hsla(0, 0%, 100%, 0.7);
    // opacity: 0.8;
    &.active {
      color: white;
      opacity: 1;
    }
    &:hover {
      color: white;
      // opacity: 1;
    }
    &.border-radius-next {
      // border-top-right-radius: 10px;
    }

    &.border-radius-previous {
      // border-bottom-right-radius: 10px;
    }
  }

  //   .nav li:first-child a:before,
  // .nav li:last-child a:after {
  //   background-color: #fff;
  // }

  // .editor-edit-add-btns
  //  --------------------------------
  .add-btn {
    width: 72px;

    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    // background-color: #0e1318;
    background-color: #252627;
    cursor: pointer;

    & p {
      font-size: 13px;
    }
    & .add-btn-summary {
      background-color: #0e1318;
      // border-bottom: 1px solid black;
      padding: 0;
      display: flex;
      height: 72px;
      & div {
        align-items: center;
        flex-direction: column;
      }
    }

    & .add-btn-details {
      padding: 16px 0 16px;
      text-align: center;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }

      & p {
        pointer-events: none;
      }

      &.border-radius-next {
        // border-top-right-radius: 10px;
      }

      &.border-radius-previous {
        // border-bottom-right-radius: 10px;
      }
      // &:checked {
      //   // background-color: darken(#3c3d3e, 4%);
      // }
    }
  }

  .edit-btn {
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 72px;
    background-color: #0e1318;
    font-size: 13px;
    cursor: pointer;
    &.active {
      opacity: 1;
      background-color: #252627;
    }
  }

  .themes-btn {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
    min-height: 72px;
    background-color: #0e1318;
    font-size: 13px;
    cursor: pointer;
    &.active {
      background-color: #252627;
    }
  }
}
.components-list {
  width: 30%;
}
.mini-cmp {
  max-width: 250px;
  border-radius: 5px;
  margin: 0.5rem 0.3rem;
  transition: transform 0.3s;
}

.add-btn-summary > div {
  justify-content: center;
  // display: flex;
  // justify-content: center;
}
.addbtn {
  .MuiCollapse-root.MuiCollapse-vertical.MuiCollapse-entered.css-pwcg7p-MuiCollapse-root {
    background-color: #252627;
  }
}

.editor-sidebar .editor-edit-add-btns .add-btn {
  border-radius: 0;
  box-shadow: unset;
}

.sidebar-close-btn {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(96%, -50%);
  z-index: 500;
  cursor: pointer;
  .sidebar-close-svg {
    transition: 0.6s;
    fill: #252627;
    &.closed {
      fill: #0e1318;
    }
  }
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  // background-color: #252627;
}
.add-btn .add-btn-details {
  background-color: #0e1318;
  &.active {
    background-color: #252627;
    opacity: 1;
  }
  // background-color: red;
}

// .add-btn:hover + .edit-btn {
//   background-color: red;
// }

// .edit-btn {
//   order: -1;
// }

// .editor-edit-add-btns:hover > :not(:hover) {
//   background-color: red;
// }
