.home-page-cards {
  display: flex;
  position: relative;
  // justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
  flex-direction: column;
  margin-bottom: 380px;
  padding-bottom: 196px;
  & .line {
    position: absolute;
    left: 50%;
    z-index: 10;
    margin-left: -1.5px;
    width: 3px;
    height: 80%;
    top: 20%;
    background-image: linear-gradient(
      white,
      rgb(108, 129, 180) 5%,
      rgb(108, 129, 180) 95%,
      white
    );
  }
  & .cards-white-block {
    position: absolute;
    top: -136px;

    width: calc(100vw - 560px);
  }
  & .cards-bg-wave {
    display: flex;
    flex-direction: column;
    background-image: url('https://siftnewstherapy.com/build/assets/fade.7e0dc151.png');
    background-position: left top;
    background-repeat: repeat-x;
    align-items: center;

    background-size: 600px 200px;
    width: 100%;
    & > h1 {
      align-self: center;
      position: relative;
      z-index: 20;
      &:first-of-type {
        font-family: Pensum;
        font-size: 3rem;
        margin-top: 40px;
        color: $main-color;
      }
      &:nth-of-type(2) {
        font-family: Righteous;
        font-size: 4rem;
        font-weight: 400;
        color: $accent2-color;
      }
    }
  }

  .cards {
    display: flex;
    width: 58%;
    position: relative;

    height: 400px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;

    .card-number-circle::before {
      content: '';
      display: block;
      width: 63px;
      height: 1px;
      background-color: rgb(189, 201, 234);
      position: absolute;
      right: -63px;
    }
  }
  .card1 {
    margin-top: 95px;
    & .wave2-png {
      position: absolute;
      left: -560px;
      top: 145px;

      background-image: url(https://siftnewstherapy.com/build/assets/leftWhispWhiteBg.f55cc90f.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 925px;
      height: 764px;
      z-index: 10;

      // @media screen and (min-width: '1000px') {
      //   margin-top: 200px;
      // }
    }
  }
  .card2 {
    & .card-number-circle::before {
      left: -63px;
    }
  }
  .card4 {
    & .card-number-circle::before {
      left: -63px;
    }
  }

  & .cards-right-wisp {
    background-image: url('https://siftnewstherapy.com/build/assets/singleWhispWhiteBg.333232c3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 640px;
    height: 390px;
    position: absolute;
    right: 0;
    top: 24rem;
    transform: scaleX(-1);
  }
}

.cards-right-box-container {
  // width: 560px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 60;
  position: relative;
  flex: 1 1;
  height: 410px;
  z-index: 20;

  align-items: center;
  justify-content: center;
  & .card-shadow {
    width: 430px;
    height: 348px;
    background-image: url('../../../img/illustrations/card-bg.png');
    background-size: cover;
    position: absolute;
    height: 348px;
    bottom: -1px;
    right: 68px;
    z-index: -1;
  }
  & h1 {
    &:nth-of-type(1) {
      font-size: 2.265rem;
      font-family: Pensum;
      // width: 80%;
      width: 100%;
      padding-inline-start: 4rem;
      margin-bottom: 20px;
      color: $main-color;
    }
    &:nth-of-type(2) {
      font-family: OpenSans;
      // width: 80%;
      font-size: 1.75rem;
      padding-inline-start: 4rem;
      color: rgb(41, 24, 47);
      font-weight: 400;
    }
  }
  & img {
    border-radius: 10px;
  }
}

.cards-left-box-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  height: 410px;
  flex-direction: column;
  z-index: 20;
  & .card-shadow {
    width: 430px;
    height: 402px;
    background-image: url('../../../img/illustrations/card-bg.png');
    background-size: cover;
    position: absolute;
    left: 75px;
    bottom: -30px;
    z-index: -1;
  }
  & img {
    border-radius: 10px;
  }

  & h1 {
    &:nth-of-type(1) {
      font-size: 2.265rem;
      font-family: Pensum;
      width: 70%;

      margin-bottom: 20px;
      color: $main-color;
    }
    &:nth-of-type(2) {
      font-family: OpenSans;
      width: 70%;

      font-size: 1.75rem;
      color: rgb(41, 24, 47);
      font-weight: 400;
    }
  }
}

.card-number-circle {
  z-index: 20;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgb(189, 201, 234);
  background-color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  color: rgb(108, 129, 180);
  position: absolute;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;

  // &:nth-of-type(2) {
  //   top: 50%;
  // }
}
