.home {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.home-page-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 350px;
  .img-container {
    z-index: 15;
    position: relative;
    left: 15%;
    margin-top: 200px;
    width: 600px;
    & img {
      width: 100%;
    }
  }
  .home-page-hero {
    z-index: 50;
    display: flex;
    flex-direction: row;

    height: 484px;

    justify-content: space-evenly;

    margin: 180px 0px 240px;
    max-width: calc(100vw - 560px);
    align-self: center;

    justify-content: space-between;

    flex-grow: 1;
    width: 100%;

    position: relative;
    .hero-text {
      z-index: 25;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    h1 {
      font-family: Pensum;
      font-size: 5rem;
      max-width: 700px;
      color: rgb(41, 24, 47);
    }
    p {
      width: 90%;
      font-size: 1.8rem;
      color: rgb(41, 24, 47);
    }
    & button {
      background-color: $accent2-color;
      color: white;
      height: 55px;
      border: none;
      cursor: pointer;
      width: 286px;
      font-size: 20px;
      font-weight: 800;
      border-radius: 36px;
    }
  }
  .storm-container {
    position: absolute;
    width: 1200px;
    height: 1000px;
    right: -240px;
    z-index: 10;
  }

  // .wave-png {
  //   position: absolute;
  //   background-image: url('../../../img/illustrations/wave.png');
  //   background-repeat: no-repeat;
  //   background-position: center top;
  //   // width: 1800px;
  //   width: 100%;
  //   height: 1712px;
  //   background-size: cover;
  //   z-index: 10;
  //   pointer-events: none;
  //   top: 166px;
  // }
  .wave2-png {
    background-image: url('../../../img/illustrations/wave2.png');
    width: 100%;
    position: absolute;
    z-index: 5;
    height: 1425px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

.storm-png {
  padding-bottom: 20px;
  width: 1155px;
  height: 1073px;
  z-index: 10;
}

.monk-png {
  width: 312px;
  height: 391px;
  position: absolute;
  background-image: url('../../../img/illustrations/monk.png');
  background-size: cover;
  background-repeat: no-repeat;
  right: 207px;

  z-index: 20;
  top: 9px;
  animation: 9s ease-in-out 0s infinite normal none running floating;
}
@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 18px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.home-page-cards {
  flex-grow: 1;
}
