.home {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.home-page-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 350px;
  .img-container {
    z-index: 15;
    position: relative;
    left: 15%;
    margin-top: 200px;
    width: 600px;
    & img {
      width: 100%;
    }
  }
  .home-page-hero {
    z-index: 50;
    display: flex;
    flex-direction: row;

    height: 484px;

    // justify-content: space-evenly;

    margin: 180px 0px 240px;
    max-width: calc(100vw - 560px);
    align-self: center;

    justify-content: space-between;

    flex-grow: 1;
    width: 100%;

    position: relative;
    .hero-text {
      z-index: 25;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-inline-start: 0.5rem;
      padding-inline-end: 0.5rem;
    }
    h1 {
      font-family: Pensum;
      font-size: 5rem;
      max-width: 700px;
      color: rgb(41, 24, 47);
    }
    p {
      width: 90%;
      font-size: 1.8rem;
      color: rgb(41, 24, 47);
    }
    & button {
      background-color: $accent2-color;
      color: white;
      height: 55px;
      border: none;
      cursor: pointer;
      width: 286px;
      font-size: 20px;
      font-weight: 800;
      border-radius: 36px;
    }
  }
  .storm-container {
    position: absolute;
    width: 1200px;
    height: 1000px;
    right: -415px;
    z-index: 10;
    pointer-events: none;
  }

  // .wave-png {
  //   position: absolute;
  //   background-image: url('../../../img/illustrations/wave.png');
  //   background-repeat: no-repeat;
  //   background-position: center top;
  //   // width: 1800px;
  //   width: 100%;
  //   height: 1712px;
  //   background-size: cover;
  //   z-index: 10;
  //   pointer-events: none;
  //   top: 166px;
  // }
  .wave2-png {
    background-image: url('../../../img/illustrations/wave2.png');
    width: 100%;
    position: absolute;
    z-index: 5;
    height: 1425px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

.storm-png {
  padding-bottom: 20px;
  width: 1155px;
  height: 1073px;
  z-index: 10;
}

.monk-png {
  width: 312px;
  height: 391px;
  position: absolute;
  background-image: url('../../../img/illustrations/monk.png');
  background-size: cover;
  background-repeat: no-repeat;
  right: 0px;

  z-index: 20;
  top: 9px;
  animation: 9s ease-in-out 0s infinite normal none running floating;
}

.home-page-cards {
  flex-grow: 1;
}

@media (max-width: 1600px) {
  .home {
    .home-page-hero-container {
      .home-page-hero {
        .hero-text {
          justify-content: unset;
          gap: 18px;
          margin-top: 80px;
          width: 400px;
          & > h1 {
            font-size: 3rem;
          }
          & > p {
            font-size: 1.3rem;
          }
          & > button {
            width: 240px;
            font-size: 16px;
          }
        }
        .monk-png {
          width: 276px;
          height: 360px;
        }
        .storm-container {
          right: -540px;
          .storm-png {
            width: 1000px;
            height: 1000px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .home {
    .home-page-hero-container {
      padding-bottom: 40px;
      .home-page-hero {
        max-width: unset;
        padding: 0 3.6rem;
        margin: 140px 0px 150px;
        .monk-png {
          width: 183px;
          height: 226px;
          right: 200px;
        }
        .storm-container {
          height: 570px;
          .storm-png {
            width: 679px;
            height: 570px;
          }
        }
      }
    }
    .teaser-container {
      padding-bottom: 200px;
      .img-container {
        min-width: unset;
        padding: 0 3.6rem;
        margin: unset;
      }
      .wave-png {
        height: 1200px;
      }
    }

    .home-page-cards {
      margin-bottom: 150px;
      .cards-white-block {
        width: 100%;
        padding: 0 3.6rem;
      }
      .cards-bg-wave {
        padding: 0 3.6rem;
        .line {
          display: none;
        }
        .card1 {
          flex-direction: column;
          .wave2-png {
            width: 100%;
          }
        }
        .card2 {
          flex-direction: column-reverse;
        }
        .card1,
        .card2 {
          width: 100%;
          gap: 50px;
          height: 100%;
          padding-bottom: 80px;
          .card-number-circle {
            display: none;
          }
          .cards-right-box-container,
          .cards-left-box-container {
            height: 300px;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      .card3 {
        flex-direction: column;
      }
      .card4 {
        flex-direction: column-reverse;
      }
      .card3,
      .card4 {
        padding: 0 3.6rem;
        width: 100%;
        gap: 50px;
        height: 100%;
        padding-bottom: 80px;
        .card-number-circle {
          display: none;
        }
        .cards-right-box-container,
        .cards-left-box-container {
          height: 300px;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  html {
    font-size: 14px;
  }
  .home {
    .home-page-hero-container {
      padding-bottom: 200px;
      .home-page-hero {
        flex-direction: column-reverse;
        margin: unset;
        align-items: center;
        height: 550px;
        position: unset;
        padding: unset;
        .hero-text {
          text-align: center;
          align-items: center;
          width: 355px;
          & > h1 {
            font-size: 2.5rem;
          }
          & > p {
            font-size: 1.2rem;
            width: unset;
          }
        }
        .monk-png {
          top: 50px;
          width: 115px;
          height: 152px;
          right: 40%;
        }
        .storm-container {
          position: unset;
          width: unset;
          padding-top: 365px;
          .storm-png {
            width: 350px;
            height: 350px;
          }
        }
      }
    }
    .home-page-cards {
      .cards-white-block {
        top: -170px;
        padding: unset;
        width: 100%;
      }
      .cards-bg-wave {
        background-image: unset;
        h1:nth-of-type(1) {
          margin-top: unset;
          font-size: 2.5rem;
        }
      }
    }
    .wap-teasers-container {
      & > h1 {
        padding: 0 2.5rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .home {
    & .teaser-container {
      & .img-container {
        padding: 0 0.5rem;
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 18px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
