.teaser-container {
  background-color: #3d496e;
  display: flex;
  padding-bottom: 300px;
  justify-content: center;
  width: 100%;
  .wave-png {
    position: absolute;
    background-image: url('../../../img/illustrations/wave.png');
    background-repeat: no-repeat;
    background-position: center top;
    // width: 1800px;
    width: 100%;
    height: 1637px;

    background-size: cover;
    z-index: 6;
    pointer-events: none;
    top: 0px;
  }
  & .img-container {
    z-index: 10;
    width: 100%;
    // max-width: 1200px;
    max-width: 1400px;
    min-width: 800px;

    & img {
      box-shadow: 0px 12px 20px 4px #21212157,
        0px -4px 20px 0px rgb(33 33 33 / 34%);
      width: 100%;
    }
  }
}
